body {
  background-color: hsla(244, 87%, 50%, 0.282);
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* https://desarrolloweb.com/articulos/barra-navegacion-horizontal-listas-css.html */
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
nav li a {
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}
nav li a:hover{
  background-color: #333333;
  color: #ffffff;
}